.btn{
    background-color: #ff1493!important;
    font-weight: 600!important;
    margin-right: 60px!important;
    border-radius: 20px 20px 20px 20px!important;
    color:aliceblue!important;
    margin-top: 10px!important;
  
}